<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Jokes</key>
	<array>
		<string>Bulken</string>
		<string>Dudilay</string>
		<string>
One parrot learned the phrase: “depends on the context” and became a senior.</string>
	</array>
</dict>
</plist>
